<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>YOLO商城通知邮件</title>
</head>
<body>
<table style="width: 600px; border: 1px solid #ddd; border-radius: 3px; color: #555; font-family: 'Helvetica Neue Regular',Helvetica,Arial,Tahoma,'Microsoft YaHei','San Francisco','微软雅黑',' Hiragino Sans GB',STHeitiSC-Light; font-size: 12px; height: auto; margin: auto; overflow: hidden; text-align: left; word-break: break-all; word-wrap: break-word;"
       cellspacing="0" cellpadding="0" border="0">
    <tbody style="margin: 0; padding: 0;">
    <tr style="background-color: #393D49; height: 60px; margin: 0; padding: 0;">
        <td style="margin: 0; padding: 0;">
            <div style="color: #5EB576; margin: 0; margin-left: 30px; padding: 0;">
                <a style="font-size: 14px; margin: 0; padding: 0; color: #5EB576; text-decoration: none;"
                   rel="noopener">通知邮件</a>
            </div>
        </td>
    </tr>
    <tr style="margin: 0; padding: 0;">
        <td style="margin: 0; padding: 30px;">
            <p style="line-height: 20px; margin: 0; margin-bottom: 10px; padding: 0;"> Hi，
                <em style="padding:0;font-weight:700;color:#6e6e6e;font-size:16px">{{ user.username }}</em>,你好</p>
            <p style="color:#6e6e6e;font-size:13px;line-height:24px">请根据下面的信息完成密码重置!
            </p>
            <table style="width:100%;border-top:1px solid #eee;border-left:1px solid #eee;color:#6e6e6e;font-weight:normal;"
                   cellspacing="0" cellpadding="0" border="0">
                <thead>
                <tr>
                    <th colspan="2"
                        style="padding:10px 0;border-right:1px solid #eee;border-bottom:1px solid #eee;text-align:center;background:#f2f2f2;font-weight:700;font-size:16px">
                        您的账户信息
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="padding:10px 0;border-right:1px solid #eee;border-bottom:1px solid #eee;text-align:center;width:100px">
                        用户名
                    </td>
                    <td style="padding:10px 20px 10px 30px;border-right:1px solid #eee;border-bottom:1px solid #eee;line-height:30px">
                        {{ user.username }}
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px 0;border-right:1px solid #eee;border-bottom:1px solid #eee;text-align:center;width:100px">
                        当前操作
                    </td>
                    <td style="padding:10px 20px 10px 30px;border-right:1px solid #eee;border-bottom:1px solid #eee;line-height:30px">
                        <a href="{{ protocol }}://yolostore.vercel.app/{{ path }}/{{ token }}"
                           style="background-color: #009E94; color: #fff; display: inline-block; height: 32px; line-height: 32px; margin: 0 15px 0 0; padding: 0 15px; text-decoration: none;"
                           target="_blank" rel="noopener">重置密码</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p style="line-height: 20px; margin-top: 20px; padding: 10px; background-color: #f2f2f2; font-size: 12px;">
                如果该邮件不是由你本人操作，请勿进行操作！ </p>
        </td>
    </tr>
    <tr style="background-color: #fafafa; color: #999; height: 35px; margin: 0; padding: 0; text-align: center;">
        <td style="margin: 0; padding: 0;">系统邮件，请勿回复</td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
